{% load staticfiles %}
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="{% static "js/snake.js" %}" type="text/javascript"></script>
        <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css"/>
    </head>
    <body>
    <h1 id="highscore">hello</h1>
        <center>
            <button id="start">Start</button>
            <canvas id="canvas" width="800" height="800"></canvas>
        </center>
    </body>
</html>